@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;

.ParticipantSlot {
    &__group {
      height: 70px;
      @include displayMobile{
        height: 60px;
      }
      &__image {
        height: 60px;
        border-radius: 50px;
        border: thin outset $colSecondary-MutedBorder;
        box-shadow: 1px 1px;
        padding: 0;
        margin: 0;
        @include displayMobile {
          height: 50px;
        }
      }
      &__delete {
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 250px;
        border: thin outset $colSecondary-MutedBorder;
        box-shadow: 1px 1px black;
        background-color: $colPrimary-Background;
        color: $colSecondary-NegativeActionText;
        text-align: center;
        position: relative;
        top: -20px;
        left: 46px;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        &:hover {
          cursor: pointer;
        }
        @include displayMobile{
          font-size: 0.8rem;
          height: 1.2rem;
          width: 1.2rem;
          left: 40px;
        }
      }
    }
  }
