@use "../../styles/partials/colors" as *;

.HomePage {
  display: flex;
  background-color: $colPrimary-Background;

  &__left{
    background-color: none;
  }
  &__main{
    margin: auto;  
    min-height: 100vh;
    font-size: calc(10px + 1vmin);
  
    &__content {
      margin: auto;
      max-width: 1280px;
      height: 80vh;
      overflow:auto;
      padding-right: 1rem;
      text-align: left;
      scrollbar-color: $colSecondary-AccentBorder $colPrimary-ItemFill;
      scrollbar-width: thin;
    }
  }
  }
  