@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;

.HomePage {
  display: flex; 
  background-color: $colPrimary-Background;
  min-height: 100vh;

  @include displayMobile{
    flex-direction: column;
  }

  &__side{
    background-color: none;
    position: fixed;
    @include displayMobile{
      position: relative;
    }
  }
  &__main{
    flex-grow: 1;
    background-color: none; 
    
    font-size: 1rem;
  
    &__content {
      padding-left: 220px;
      background-color: none;
      margin: auto;
      max-width: 1280px;
      //height: 80vh;
      //overflow:hidden;
      padding-right: 1rem;
      //scrollbar-color: $colSecondary-AccentBorder $colPrimary-ItemFill;
      //scrollbar-width: thin;
      padding-bottom: 220px;
      @include displayMobile{
        padding-bottom: 200px;
        padding-left: 0px;
      }
    }
    &__input{
      padding-bottom: 20px;
      padding-left: 160px;
      background-color: $colPrimary-Background;
      width: 100vw;
      position: fixed;
      bottom:0;
      left: 0;
      @include displayMobile{
        padding-left: 0;

      }
    }
  }
  }
  