.PersonalityConfig{
    background-color: rgba(47, 79, 79, 0.195);
    margin : 20px;
    padding: 20px;
    border: 1px gray solid;
    border-radius: 15px;
    max-width: 800px;
    &__group{
        margin-top: 20px;
        display: flex;
        &__label{
            color: aqua;
            width: 200px;
        }
        &__data{
            flex-grow: 1;
            font-size: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
            background-color: transparent;
            color: white;
            border: 1px aqua solid;
            border-radius: 10px;
        }
    }
}