@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;

.SignInPage {
  display: flex;
  background-color: $colPrimary-Background;

  @include displayMobile {
    flex-direction: column;
  }

  &__left {
    background-color: $colPrimary-Background;
    background-color: none;
    position: fixed;
    @include displayMobile {
      position: relative;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    text-align: center;
    min-height: 100vh;
    color: $colPrimary-MainText;
    font-size: calc(10px + 1vmin);
    flex-grow: 1;
    max-width: 1000px;

    &__title {
      text-align: left;
      padding-left: 170px;
      padding-bottom: 20px;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.25rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      @include displayMobile {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }

    &__content {
      padding-left: 150px;
      max-width: 1280px;
      text-align: left;
      @include displayMobile {
        padding-left: 0;
      }
    }
  }
}
