$colPrimary-ItemFill: #1d1f25;
$colPrimary-Background: #282c34;
$colPrimary-MainText: #E1E1E1;
$colPrimary-MutedText: gray;
$colPrimary-LabelText: cyan;

$colSecondary-PositiveAction: darkgreen;
$colSecondary-PositiveActionText:green;
$colSecondary-PositiveActionTextHover: greenyellow;
$colSecondary-NegativeAction: darkred;
$colSecondary-NegativeActionText: red;
$colSecondary-NegativeActionTextHover: orangered;
$colSecondary-MutedBorder: gray;
$colSecondary-AccentBorder: cyan;