.ChatInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  &__logo {
    margin: 0px;
    margin-top: 10px;
    height: 15vmin;
    pointer-events: none;
  }
  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex;
  }
}
