.Sidebar{
    a{
        text-decoration: none;
        color: aqua;
    }
    background-color: none;
    margin-left: 10px;
    &__settings{
        color: aqua;
    }
    &__sessionList{
        &__title{
            color: mediumseagreen;
        }
        &__list{
            color: white;
            margin-bottom: 1rem;
            &__group{
                display: flex;
                align-items: center;
                gap: 10px;
                &__itemContainer{
                    pointer-events:all;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &__item{
                    background-color: none;
                    width: 100px;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    
                    
                    &:disabled{
                        background-color: transparent;
                        color: white;
                        border: none;
                        pointer-events: none;
                    }
                }
                &__delete{
                    border: 1px solid darkred;
                    background-color: transparent;
                    color: red;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &__edit{
                    border: 1px solid darkgreen;
                    background-color: transparent;
                    color: green;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
       
    }
}