@use "../../styles/partials/colors" as *;

.Sidebar {
  background-color: none;
  margin-left: 10px;
  margin-right: 20px;
  &__settings {
    &__item {
      color: cadetblue;
      &:hover {
        color: cyan;
      }
    }
  }
  &__sessionList {
    &__title {
      color: $colSecondary-PositiveActionText;
      &:hover {
        color: $colSecondary-PositiveActionTextHover;
      }
    }
  }
  &__edit {
    margin-top: 10px;
    border: 1px solid green;
    background-color: transparent;
    color: green;
    &:hover {
      cursor: pointer;
      background-color: darkgreen;
      color: greenyellow;
    }
  }
}
