@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;

.PersonalitiesPage {
  display: flex;
  background-color: $colPrimary-Background;

  @include displayMobile{
    flex-direction: column;
  }

  &__left {
    background-color: $colPrimary-Background;
    background-color: none;
  }
  &__main {
    text-align: center;
    margin: auto;
    min-height: 100vh;
    color: $colPrimary-MainText;
    font-size: calc(10px + 1vmin);
    flex-grow: 1;

    &__content {
      margin: auto;
      max-width: 1024px;
      text-align: left;

      &__bottom {
        margin-bottom: 20px;
        &__add {
          margin-left: 20px;
          border: 1px solid $colSecondary-PositiveAction;
          border-radius: 20px;
          background-color: transparent;
          color: $colSecondary-PositiveActionText;
          height: 2rem;
          width: 10rem;
          @include displayMobile{
            margin-top: 20px;
            margin-left: 0px;
            width: 100%;
          }
          &:hover {
            cursor: pointer;
            background-color: $colSecondary-PositiveAction;
            color: $colSecondary-PositiveActionTextHover;
          }
        }
      }
    }
  }
}
