@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;

.Participants {
  width: 100vw;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
//  margin-bottom: 20px;
  background-color: $colPrimary-ItemFill;
  gap: 25px;
  border-bottom: thin solid rgba(0, 0, 0, 0.269) ;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.24);
  &__add {
    background-color: none;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 10px;
    &__text{
      color : $colPrimary-MutedText;
      padding-bottom: 10px;
      font-family: monospace;
    }
    &__addIcon {
     background-color: none;
    }
  }
  &__list {
    display: flex;
    align-items: flex-end;
    //flex-wrap: wrap;
    overflow:auto;
    scrollbar-color: $colSecondary-MutedBorder $colPrimary-ItemFill;
    scrollbar-width: thin;
    padding-left: 5px;
    padding-right: 15px;
    row-gap: 5px;
    column-gap: 25px;
  }
}
