@use "../../styles/partials/colors" as *;
@use "../../styles/partials/anims" as *;

.ResponseCard {
  // @include revealing-animation;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  &__left {
    &__image {
      height:75px;
      border-radius: 50px;
      border: 1px solid $colSecondary-MutedBorder;
      margin-right:10px;
      position: relative;
      top: 30px;
      left: 60px
    }
  }
  &__right {
    color: $colPrimary-MainText;
    border: 1px dashed $colSecondary-MutedBorder;
    background-color: $colPrimary-ItemFill;
    border-radius: 15px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    &__header {
      display: flex;
      justify-content: space-between;
      padding-left: 25px;
      &__name {
        font-weight: 400;
        color: $colPrimary-LabelText;
      }
      &__date {
        color: $colPrimary-MutedText;
      }
    }
    &__content {
      flex-grow: 1;
      padding-left: 50px;
    }
  }
}
